.form{
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
}

.input-container, .radio-btn-container{
    margin: 2% 30%;
    font-size: 1.5rem;
    width: 100%;
}

.h1-header{
    font-size: 3rem;
    color: #d1c4e9;
}

.full-width{
    display: flex;
    flex: 1 100%;
    justify-content: center;
}

.submit-btn{
    flex: 1 100%;
    margin: 2% 40%;
    background-color: #2e7d32;
    color: #fff;
    font-size: 1.5rem;
}

.error-msg{
    color: #d50000;
}

.label{
    flex: 1 100%;
    margin: 2% 0;
    font-size: 1.5rem;
}

.radio-btn-container{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}